@import 'var';

body{
    color:$primary-color;
    font-size:$font-size-normal;
    line-height:$line-height;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.iconfont{
    font-size:$font-size-large;
    display:inline-block;
    margin-right:$space-small;
    vertical-align: middle;
    &:active{
        color:$primary-color-light;
    }
}
*:before,
*:after {
    box-sizing: border-box;
}
.#{$css-prefix}{
    &-primary-color-light{
        color:$primary-color-light;
    }
    &-container-circle{
        display:inline-block;
        padding:$space-small $space-medium;
        margin-right:$space-small;
        margin-bottom:$space-medium;
        position: relative;
        /*border:1px solid $dark-border-color;*/
        border-radius:$font-size-normal * $line-height + $space-small * 2;
        &:before{
            content: "";
            display: block;
            position:absolute;
            width: 200%;
            left:0;
            top:0;
            transform-origin: 0 0;
            height: 200%;
            border-radius:$font-size-normal * $line-height + $space-small * 2;
            border: 1px solid $dark-border-color;
            transform: scale(.5);
        }
    }
    &-hover-bg:active{
        transition: all .2s ease;
        background-color:$primary-color-light;
    }
    &-bottom-border{
        position: relative;
        &:before{
            z-index:-1;
            content: "";
            display: block;
            position:absolute;
            width: 200%;
            left:0;
            top:0;
            transform-origin: 0 0;
            height: 200%;
            border-bottom: 1px solid $dark-border-color;
            transform: scale(.5);
        }
        /*border-bottom:1px solid $dark-border-color;*/
        /*&:last-child{
            &:before{
                border-bottom:none;
            }
        }*/
    }
    &-overflow-auto{
        overflow:auto;
    }
    &-font-large{
        font-size:$font-size-large;
    }
    &-font-small{
        font-size:$font-size-normal
    }
    &-flex{
        display:flex;
        flex-wrap: wrap;
        &-nowrap{
            flex-wrap: nowrap;
            display: flex;
        }
    }
    &-flex-grow{
        flex-grow:1;
    }
    &-container{      
        padding:$space-small $space-medium;
        &-medium{
            padding:$space-medium;
        }
        &-mlarge{
            padding:$space-mlarge;
        }
        &-large{
            padding:$space-large
        }
    }
    &-align-center{
        text-align:center;
    }
    &-align-right{
        text-align: right;
    }
    @each $side in $sides {
        @each $ds,$distance in $distances{
            @each $size,$space-size in $space-sizes{
                &-#{$ds}-#{$side}-#{$size}{
                    #{$distance}-#{$side}:$space-size;
                }
                &-#{$ds}-minus-#{$side}-#{$size}{
                    #{$distance}-#{$side}:$space-size * -1;
                }
            }

        }
    }
    @each $ds , $distance in $distances{
        @each $size,$space-size in $space-sizes{
            &-#{$ds}-#{$size}{
                #{$distance}:$space-size;
            }
        }
    }
    &-shadow{
        background:$shadow;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:999;
    }
    &-inline-block{
        display: inline-block;
    }
    &-relative{
        position:relative;
    }
    &-center{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    &-one-line{
        height:2rem;
        box-sizing: border-box;
        vertical-align: middle;
        text-indent: 13px;
    }
    &-text-ellipsis{
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }
    &-float-left{
        float:left;
    }
    &-float-right{
        float: right;
    }
    &-with-transition{
        transition: all .5s;
    }
}
